@font-face {
  font-family: styled;
  src: url("/fonts/maven-pro-light-300.otf");
}
@font-face {
  font-family: main;
  src: url("/fonts/signika-regular.ttf");
}
body {
  height: 96%;
  padding: 1%;
  background-color: #fcfcfc;
}
#album,
#album-list {
  font-family: main;
}
h1,
h4 {
  font-family: styled;
}
.flatbtn {
  margin-bottom: 20px;
  display: block;
  line-height: 20px;
  font-size: 18px;
  margin: 2px 1%;
  padding: 10px 2%;
  background-color: #34a6ff;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  width: 30%;
  float: left;
  border: 0;
}
.flatbtn span {
  text-align: center;
  margin-left: 10px;
}
.flatbtn i {
  vertical-align: baseline;
}
.flatbtn:hover {
  background-color: #fe8800;
  color: #fff;
  text-decoration: none;
}
.flatbtn:focus {
  background-color: #34a6ff;
  color: #fff;
  text-decoration: none;
}
.flatbtn:active,
.flatbtn:focus {
  background: #fe8800;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset;
}
@media (max-width: 1210px) {
  .flatbtn {
    width: 36%;
  }
}
@media (max-width: 767px) {
  .flatbtn {
    width: 19%;
  }
}
button.delete {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 2;
  padding: 5px;
  width: auto;
}
.albumitem {
  width: 30%;
  min-width: 450px;
  height: 120px;
  float: left;
  padding: 10px;
  position: relative;
}
.albumitem a {
  display: block;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid #34a6ff;
  box-shadow: 3px 3px 3px #444;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  overflow: hidden;
}
.albumitem a img {
  width: 100px;
  height: 100px;
}
.albumitem a:hover {
  border: 2px solid #fe8800;
}
.albumitem a:active {
  transition: 0s ease-out;
  -webkit-transition: 0s ease-out;
  box-shadow: 0px 0px 0px #444;
}
.albumitem .text {
  margin-left: 120px;
}
#album {
  padding: 0;
}
#links {
  margin-bottom: 20px;
}
#links a {
  margin: 0 10px 10px 0;
}
#about {
  height: 90%;
}
#about #description {
  text-align: justify;
  padding: 1px;
  border: 0px;
}
#about #title:active,
#about #description:active {
  outline: 0;
}
#album.editing #title:focus,
#album.editing #description:focus {
  outline: 1px solid #34a6ff;
}
#album.editing #title:hover,
#album.editing #description:hover {
  outline: 1px solid #fe8800;
}
#photos {
  min-height: 300px;
  box-sizing: border-box;
}
#photos.dragover {
  background-color: #fe8800;
}
#photos #uploader {
  opacity: 0.0001;
  display: block;
  height: 100%;
  font-size: 30em;
  line-height: 100px;
  position: absolute;
}
#photos .photo {
  float: left;
  margin: 5px;
  position: relative;
}
#photos .photo a {
  display: block;
  width: 75px;
  height: 68px;
  vertical-align: bottom;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  border: 1px solid transparent;
  -webkit-transform: rotate(60deg);
}
#photos .photo a img {
  width: 100%;
  height: 100%;
}
#photos .photo .progressfill {
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0px;
  background-color: #34a6ff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#photos .photo a.thumbed {
  border: 1px solid #34a6ff;
}
#photos .photo:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  z-index: 3;
}
#photos .photo:hover a {
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #fff, 0 0 20px 5px #000;
  transition: 0.1s;
  -webkit-transition: 0.1s;
}
#photos .photo:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.editing #photos.empty {
  border: 1px solid #fe8800;
}
.modal {
  border-radius: 0px;
  border: 0px;
}
.modal input,
.modal select {
  border: 1px solid #d3d3d3;
  box-shadow: 0;
  border-radius: 0px;
  shadow: none;
  font-family: styled, helvetica;
}
.modal input.disabled {
  border: 1px solid transparent;
}
.modal input:hover,
.modal select:hover {
  border: 1px solid #fe8800;
  border-radius: 0px;
  shadow: inset 1px 1px 2px rgba(100,100,100,0.1);
  color: #333;
}
.modal input:focus,
.modal input:active,
.modal select:active,
.modal select:focus {
  border: 1px solid #34a6ff;
  box-shadow: none;
}
.modal-header {
  background-color: #34a6ff;
  color: #fff;
  font-family: styled;
}
.mode-public .flatbtn,
.mode-public .flatbtn.startediting,
.mode-public .create,
.mode-owner .empty .help,
.stopediting,
.flatbtn,
.delete,
.editing .flatbtn.startediting,
.editing .flatbtn.download,
.mode-owner.editing .empty .help {
  display: none;
}
.editing .flatbtn,
.editing .delete,
.mode-public .flatbtn.back,
.flatbtn.back,
.flatbtn.startediting,
.flatbtn.download,
.mode-public .empty .help {
  display: block;
}
#uploadblock {
  display: none;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  padding: 10px 0px;
  margin: 5px;
  position: relative;
  text-align: center;
  transition: height 1s;
}
.editing #uploadblock {
  display: block;
}
.pbCaptionText .btn-group {
  margin-left: 30px;
}
#pbOverlay.show .imageWrap img,
#pbOverlay.show .imageWrap img,
#pbOverlay.on .imageWrap img,
#pbOverlay .imageWrap img,
#pbOverlay .imageWrap img.prepare,
#pbOverlay.hide .imageWrap img,
#pbOverlay.hide .imageWrap img.prepare,
#pbOverlay .imageWrap img.zoomable {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transition: 0.01s;
  -webkit-transition: 0.01s;
  -ms-transition: 0.01s;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
}
@media (max-width: 700px) {
  .flatbtn {
    width: auto;
  }
}
#clipboard-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 100;
  display: none;
  opacity: 0;
}
#clipboard {
  width: 1px;
  height: 1px;
  padding: 0px;
}
