@font-face {
  font-family: styled;
  src: url("/fonts/maven-pro-light-300.otf");
}
@font-face {
  font-family: main;
  src: url("/fonts/signika-regular.ttf");
}
body {
  height: 97%;
  padding: 1%;
  background-color: #fcfcfc;
  font-family: main;
}
h1,
h4 {
  font-family: styled;
}
.editor {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 3px;
}
btn.delete {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 2;
}
.mode-public .editor,
.help,
.helpedit,
.editing .empty .help,
.btn.delete,
.btn.stopediting,
.editing .btn.startediting,
#album-list.empty .btn.startediting,
#album-list.empty .btn.stopediting {
  display: none;
}
.btn.startediting,
.editing .btn.delete,
.editing .btn.stopediting {
  display: inline-block;
}
.empty .help,
.editing .empty .helpedit {
  display: block;
}
.albumitem {
  width: 30%;
  min-width: 450px;
  height: 120px;
  float: left;
  margin: 15px;
  padding: 10px;
  position: relative;
}
.albumitem a {
  display: block;
}
.albumitem img {
  box-sizing: border-box;
  border: 2px solid #444;
  box-shadow: 3px 3px 3px #444;
  border-radius: 10px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
}
.albumitem img:hover {
  border: 2px solid #ffa500;
}
.albumitem img:active {
  transition: 0s ease-out;
  -webkit-transition: 0s ease-out;
  box-shadow: 0px 0px 0px #444;
}
#about {
  height: 90%;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
}
#about #path {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 18.5px;
}
#about #path a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #d3d3d3;
  border-radius: 5px;
  color: #fff;
}
#about #path a span {
  margin-left: 5px;
}
#about #path a:hover {
  background-color: #ffa500;
  text-decoration: none;
}
#about #description {
  text-align: justify;
  padding: 1px;
  border: 0px;
}
#photos {
  min-height: 300px;
}
#photos .photo {
  float: left;
  margin: 5px;
  position: relative;
}
#photos .photo a {
  display: block;
  width: 75px;
  height: 68px;
  vertical-align: bottom;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  border: 1px solid transparent;
}
#photos .photo a img {
  width: 100%;
  height: 100%;
}
#photos .photo a:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #fff, 0 0 20px 5px #000;
  transition: 0.1s;
  -webkit-transition: 0.1s;
}
#photos .photo:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  z-index: 3;
}
#photos .photo:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.editing #photos.empty {
  border: 1px dashed #d3d3d3;
}
#photos.dragover {
  background-color: #90ee90;
}
#pbOverlay.show .imageWrap img,
#pbOverlay.show .imageWrap img,
#pbOverlay.on .imageWrap img,
#pbOverlay .imageWrap img,
#pbOverlay .imageWrap img.prepare,
#pbOverlay.hide .imageWrap img,
#pbOverlay.hide .imageWrap img.prepare,
#pbOverlay .imageWrap img.zoomable {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transition: 0.01s;
  -webkit-transition: 0.01s;
  -ms-transition: 0.01s;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
}
