@font-face {
  font-family: styled;
  src: url("/fonts/maven-pro-light-300.otf");
}
@font-face {
  font-family: main;
  src: url("/fonts/signika-regular.ttf");
}
body {
  height: 97%;
  padding: 1%;
  background-color: #fcfcfc;
  font-family: main;
}
h1,
h4 {
  font-family: styled;
}
.flatbtn {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 18.5px;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #d3d3d3;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}
.flatbtn i {
  vertical-align: baseline;
  margin-right: 2px;
}
.flatbtn:hover {
  background-color: #ffa500;
  color: #fff;
  text-decoration: none;
}
.btn-group .flatbtn:first-child {
  margin-right: 1px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn-group .flatbtn:last-child {
  margin-right: 1px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
btn.delete {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 2;
}
.albumitem {
  width: 30%;
  min-width: 450px;
  height: 120px;
  float: left;
  padding: 10px;
  position: relative;
}
.albumitem a {
  display: block;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #444;
  box-shadow: 3px 3px 3px #444;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  overflow: hidden;
}
.albumitem a img {
  width: 100px;
  height: 100px;
}
.albumitem a:hover {
  border: 2px solid #ffa500;
}
.albumitem a:active {
  transition: 0s ease-out;
  -webkit-transition: 0s ease-out;
  box-shadow: 0px 0px 0px #444;
}
#about {
  height: 90%;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
}
#about #description {
  text-align: justify;
  padding: 1px;
  border: 0px;
}
#photos {
  min-height: 300px;
}
#photos .photo {
  float: left;
  margin: 5px;
  position: relative;
}
#photos .photo a {
  display: block;
  width: 75px;
  height: 68px;
  vertical-align: bottom;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  border: 1px solid transparent;
}
#photos .photo a img {
  width: 100%;
  height: 100%;
}
#photos .photo:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  z-index: 3;
}
#photos .photo:hover a {
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #fff, 0 0 20px 5px #000;
  transition: 0.1s;
  -webkit-transition: 0.1s;
}
#photos .photo:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.editing #photos.empty {
  border: 1px dashed #d3d3d3;
}
#photos.dragover {
  background-color: #90ee90;
}
.mode-public .flatbtn,
.mode-public .flatbtn.startediting,
.mode-public .create,
.mode-owner.empty .help,
.mode-owner .empty .help,
.help,
.helpedit,
.stopediting,
.flatbtn,
.delete,
.editing .flatbtn.startediting,
.editing .flatbtn.download {
  display: none;
}
.editing .flatbtn,
.editing .delete,
.mode-public .flatbtn.back,
.flatbtn.back,
.flatbtn.startediting,
.flatbtn.download {
  display: inline;
}
.empty .help,
.editing .empty .helpedit {
  display: block;
}
