a.create#create-album-link(href="#albums/new")
        span= t('Create a new album')
div#links.clearfix
    a.flatbtn(style="display: table-caption", href="#map") Map

p.help= t('There is no public albums.')
