div.btn-group.editor
  a.create.btn.btn-inverse(href="#albums/new")
    i.icon-plus.icon-white
  a.stopediting.btn.btn-inverse(href="#albums")
    i.icon-eye-open.icon-white
  a.startediting.btn.btn-inverse(href="#albums/edit")
    i.icon-edit.icon-white

p.help.
  There is no albums.

p.helpedit.
  You haven't any album yet, use the "+" button in the top-right corner
  to create one.
