a.pull-left(href="#albums/#{id}")
    img.media-object(src="http://placehold.it/150/&text=album")

div.media-body
    h4.media-heading #{title}
    p #{description}

if editable
    btn.btn.delete.btn-danger X