p.help= t('There is no photos in this album')

#upload-actions
    #upload-block.flatbtn
        input#uploader(type="file", multiple="multiple")
        div.pa2
            = t('pick from computer')

    #browse-files.flatbtn
        div.pa2
            = t('pick from files')
