p.help= t('There is no photos in this album')

#uploadActions
    #uploadblock.flatbtn
        input#uploader(type="file", multiple="multiple")
        div.pa2
            = t('pick from computer')

    #browseFiles.flatbtn
        div.pa2
            = t('pick from files')
