p.help= t('There is no photos in this album')

#uploadblock.flatbtn
    div.pa2
        input#uploader(type="file", multiple="multiple")
        = t('pick from computer')

#browseFiles.flatbtn
    = t('pick from files')
