transform()
    -webkit-transform arguments
    -moz-transform arguments
    -ms-transform arguments
    transform arguments

transition-delay()
    -webkit-transition-delay arguments
    -moz-transition-delay arguments
    -ms-transition-delay arguments
    transition-delay arguments